body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

#gameBoard {
    margin-top: 30px;
}

img {
    border: 2px solid #ccc;
}
